# Django основные пакеты
Django==5.0.1

# База данных
psycopg2-binary==2.9.7
dj-database-url==2.1.0

# Работа с файлами
python-docx==0.8.11
openpyxl==3.1.2
xlsxwriter==3.1.9

# Загрузка файлов
Pillow==10.1.0

# Разработка и отладка
django-debug-toolbar==4.2.0

# Производство
gunicorn==21.2.0

# Линтинг и форматирование
flake8==6.1.0
black==23.11.0
isort==5.12.0

python-dotenv